extends base.pug

block content
    div#videoContainer(data-id=video._id)
        video(src="/"+video.fileUrl)
        div#videoControls.videoControls
            div.videoControls_play
                span#play.videoControls_playBtn
                    i.fas.fa-play
                div.videoControls_time
                    span#currentTime 00:00
                    span /
                    sapn#totalTime 00:00
            input(type="range", step="1", value=0, min="0")#timeLine
            div.videoControls_volume 
                input(type="range", step="0.1", min="0", max="1", value=0.5)#volume
                span#mute
                    i.fas.fa-volume-up
            div
                span#fullScreen
                    i.fas.fa-expand
    div.video_data
        p.video_title=video.title
        small.video_owner Uploaded by
            a(href=`/users/${video.owner._id}`)=video.owner.name
        small.video_createdAt=video.createdAt
        br
        if String(video.owner._id) === String(loggedInUser._id)
            a(href=`${video.id}/edit`) Edit video &rarr;
            br
            a(href=`${video.id}/delete`) Delete video &rarr;
    if loggedIn
        div.video_comment
            form.video_comment_form#commentForm
                textarea(cols="30", rows="5", placeholder="please writing")
                button Submit
    div.video_comments
        ul
            each comment in video.comments.reverse()
                li.video_comment(data-id = comment._id)
                    i.fas.fa-comment
                        span=comment.text
                        button ❌

block scripts
    script(src="/static/js/videoPlayer.js")
    if loggedIn
        script(src="/static/js/commentSection.js")

