extends base.pug

block content
    h4 Enjoy My #{video.title} Video
    video(src="/"+video.fileUrl, controls)
    div
        p=video.description
        small=video.createdAt
    div
        small Upload By
            a(href=`/users/${video.owner._id}`)=video.owner.name
    if String(video.owner) === String(loggedInUser._id)
        a(href=`${video.id}/edit`) Edit video &rarr;
        br
        a(href=`${video.id}/delete`) Delete video &rarr;
