extends base.pug

block content
    h4 Enjoy My #{video.title} Video
    div
        p=video.description
        small=video.createdAt
    a(href=`${video.id}/edit`) Edit video &rarr;
    br
    a(href=`${video.id}/delete`) Delete video &rarr;
