extends base.pug

block content
    video(src="/"+video.fileUrl, controls)
    div.video_data
        p.video_title=video.title
        small.video_owner Uploaded by
            a(href=`/users/${video.owner._id}`)=video.owner.name
        small.video_createdAt=video.createdAt
        br
        if String(video.owner._id) === String(loggedInUser._id)
            a(href=`${video.id}/edit`) Edit video &rarr;
            br
            a(href=`${video.id}/delete`) Delete video &rarr;

